/***********************************
*********** TAG SELECTORS *********/
body {
  background: black;
  padding-left: 550px;
}

h1 {
  color: white;
}

span {
  color: white;
}

/***********************************
***** TRAFFIC LIGHT STLYES *********/
  
#light {
  border: 1px solid white;
  width: 15%;
  height: 200px;
  border-radius: 10px;
  padding-top: 10px;
  margin-left: 35px;
}
  
#red, #yellow, #green {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  margin: 0 auto;
  margin-bottom: 20px;
}

#red {
  background: red;
  display: none;
}

#yellow {
  background: yellow;
  display: none;
}
      
#green {
  background: limegreen;
  display: none;
}

/***********************************
***** TRAFFIC TEXT STLYES *********/

#goText{
  color: green;
  position: relative;
  left: 160px;
  bottom: 65px;
  display: none;
}

#cautionText{
  color: yellow;
  position: relative;
  left: 160px;
  bottom: 140px;
  display: none;
}

#stopText{
  color: red;
  position: relative;
  left: 160px;
  bottom: 210px;
  display: none;
}